<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href={% url 'home' %}>DetectMe</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="detectors"><a href={% url 'detector_list' %}>Detectors</a></li>
          <li id="stream"><a href={% url 'videostream' %}>Stream</a></li>
          <li id="about"><a href={% url 'about' %}>About</a></li>
        </ul>
        <ul class="nav pull-right">
          {% if request.user.is_authenticated %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userena_profile_edit' request.user.username %}"><i class="icon-user"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
            </li>
          {% else %}
            <li><a href="{% url 'userena_signin' %}">Log in</a></li>
            <li class="navbar-text">or</li>
            <li><a href="{% url 'userena_signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar ... -->