<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href={% url 'home' %}>DetectMe</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li id="how_it_works"><a href={% url 'how_it_works' %}>How it works</a></li>
          <li id="detectors"><a href={% url 'detector_list' %}>Detectors</a></li>
          <li id="competition"><a href={% url 'competition_detail' %}>Competition</a></li>
          <li id="stream"><a href={% url 'videostream' %}>Stream</a></li>
          <li id="contact"><a href="/contact/">Contact</a></li>
          <li id="about"><a href={% url 'about' %}>About</a></li>
        </ul>
        <ul class="nav pull-right">
          {% if request.user.is_staff %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/admin"><i class="icon-home"></i> Admin site</a></li>
              <li><a href="https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a46904906w78050409p80696512/"><i class="icon-tasks"></i> Google Analytics</a></li>
              <li><a href="/profiler"><i class="icon-time"></i> SQL Profile</a></li>
              <li><a href="http://128.52.160.245:9000/"><i class="icon-warning-sign"></i> Sentry Bug Report</a></li>
              <li><a href="/metrics"><i class="icon-eye-open"></i> API Metrics</a></li>
            </ul>
            </li>
          {% endif %}
          {% if request.user.is_authenticated %}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ request.user }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'userena_profile_edit' request.user.username %}"><i class="icon-user"></i> Settings</a></li>
              <li class="divider"></li>
              <li><a href="{% url 'userena_signout' %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
            </li>
          {% else %}
            <li><a href="{% url 'userena_signin' %}">Log in</a></li>
            <li class="navbar-text">or</li>
            <li><a href="{% url 'userena_signup' %}">Sign up</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar ... -->