{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}{% trans "Change password" %}{% endblock %}



{% block profile_content %}
<div class="span9">
<form action="" method="post" id="password_change_form">
  
  <legend>{% trans "Change Password" %}</legend>
  {% csrf_token %}
  {{ form|as_bootstrap }}
  <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
  </div>
</form>
</div> {# span9 #}
{% endblock %}


{% block extra_js %}
<script>
$("#change-password").addClass("active");
</script>
{% endblock %}