{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}
  {% blocktrans with profile.user.username as username %}
  {{ username }}'s profile.
  {% endblocktrans %}
{% endblock %}


{% block profile_content %}
<div class="span9">
  <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
  <dl>
    {% block profile_definition_list %}
      {% if profile.user.get_full_name %}
        <dt>{% trans "Name" %}</dt>
        <dd>{{ profile.user.get_full_name }}</dd>
      {% endif %}
      {% if profile.user.email and not hide_email %}
        <dt>{% trans "Email" %}</dt>
        <dd>{{ profile.user.email }}</dd>
      {% endif %}
      {% if profile.age %}
        <dt>{% trans "Age" %}</dt>
        <dd>{{ profile.age }}</dd>
      {% endif %}
      {% if profile.website %}
        <dt>{% trans "Website" %}</dt>
        <dd>{{ profile.website|urlize }}</dd>
      {% endif %}
      {% if profile.location %}
        <dt>{% trans "Location" %}</dt>
        <dd>{{ profile.location }}</dd>
      {% endif %}
      {% if profile.about_me %}
        <dt>{% trans "About me" %}</dt>
        <dd>{{ profile.about_me }}</dd>
      {% endif %}
      {% if profile.favourite_snack %}
        <dt>Favourite snack</dt>
        <dd>{{ profile.favourite_snack }}</dd>
      {% endif %}
    {% endblock %}
  </dl>
</div> 

<div class="span12">    
  <hr>
  <h3> Detectors </h3>
  <ul class="thumbnails">
  {% for detector in profile.detector_set.all %}
    <li class="span3">
        <div class="thumbnail">
          <a href="{% url 'detector_detail' detector.pk %}" class="thumbnail">  
            <img id="detecting-image" src="{{ detector.average_image.url }}" alt="image" height="200" width="200"/>
          </a>
          <div class="caption">
            <p>{{ detector.name }}</p>
          </div>
        </div>
      </li>
  {% endfor %}
  </ul>
</div>

{% endblock %}

    


{% block extra_js %}
<script>
$("#view-profile").addClass("active");
</script>
{% endblock %}