{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}{% trans "Account setup" %}{% endblock %}


{% block profile_content %}
<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
    <legend>{% trans "Edit Profile" %}</legend>
    {{ form|as_bootstrap }}
  <div class="form-actions">
      <button type="submit" class="btn btn-primary">{% trans "Save changes" %}</button>
  </div>

</form>
{% endblock %}

{% block extra_js %}
<script>
$("#edit-details").addClass("active");
</script>
{% endblock %}
