{% extends "base.html" %}

{% block extra_css %}
  <style>
    /* Jumbotron header all in one line */
    .subhead h1{
      margin-right:0px;
    }
  </style>
{% endblock extra_css %}


{% block extra_container %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Open Object Detector Challenge</h1>
    <p class="lead">MIT Computer Vision Competition</p>
  </div>
</header>
{% endblock extra_container %}


{% block content %}
<div class="row">    
  <div class="span3 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav affix-top">
      {% if category %} <li> {% else %} <li class="active"> {% endif %}
        <a href="{% url 'competition_detail' %}"><i class="icon-chevron-right"></i> Details</a></li>
      <li><a href=""  class="btn btn-large disabled"> Leaderboards </a></li>
      {% for cat in categories %}
          {% if cat.name == category.name %}<li class="active"> {% else %} <li> {% endif %} 
          <a href="{% url 'leaderboard' cat.name %}">
          <i class="icon-chevron-right"></i>
          {{ cat.name }} </a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="span9">
    {% block competition_content %}
    {% endblock competition_content %}
  </div>

</div>
{% endblock content %}
