{% extends "base.html" %}
{% load leaderboards_extras %}

{% block extra_css %}
  <style>
    /* Jumbotron header all in one line */
    .subhead h1{
      margin-right:0px;
    }
  </style>
{% endblock extra_css %}


{% block extra_container %}
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Open Object Detector Challenge</h1>
    <p class="lead">MIT Computer Vision Competition</p>
  </div>
</header>
{% endblock extra_container %}


{% block content %}
<div class="row">

  {% navmenu selected_item %}

  <div class="span9">
    {% block competition_content %}
    {% endblock competition_content %}
  </div>

</div>
{% endblock content %}
