{% extends "leaderboards/base.html" %}



{% block page_title %}
<div class="page-header">
<h1>Leaderboard for {{ selected_item }}</h1>
</div>
{% endblock page_title %}


{% block competition_content %}


  {% if teams %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Position</th>
          <th>User</th>
          <th>Entries</th>
          <th>AP</th>
          <th>Images for top score</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.user.username }}</td>
            <td>{{ team.num_entries }}</td>
            <td>{{ team.best_performance.average_precision }}</td>
            <td>{{ team.best_performance.detector.annotatedimage_set.all|length }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> No teams yet. </p>
  {% endif %}
  

{% endblock competition_content %}