{% extends "leaderboards/base.html" %}



{% block page_title %}
<div class="page-header">
<h1>Leaderboard for {{ category.name }}</h1>
</div>
{% endblock page_title %}


{% block competition_content %}


  {% if teams %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>position</th>
          <th>user</th>
          <th>entries</th>
          <th>AP</th>
        </tr>
      </thead>
      <tbody>
        {% for team in teams %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ team.user.username }}</td>
            <td>{{ team.num_entries }}</td>
            <td>{{ team.max_score }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p> No teams yet. </p>
  {% endif %}
  

{% endblock competition_content %}