{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<style type="text/css"><!--
  #container { position: relative; }
  #imageView { border: 1px solid #000; }
--></style>
{# <link rel='stylesheet' href='/stylesheets/style.css' /> #}
{% endblock extra_css %}

{% block page_title %}Video Stream{% endblock page_title %}

{% block content %}
Let's get the video stream!

  
  <div class="row">
    <div class="col-md-6"> {#  container-canvas #}
      <canvas id="boxPositionCanvas" width="300" height="512">
        <p>Unfortunately, your browser is currently unsupported by our web 
        application.  We are sorry for the inconvenience. Please use one of the 
        supported browsers listed below, or draw the image you want using an 
        offline tool.</p>
        <p>Supported browsers: <a href="http://www.opera.com">Opera</a>, <a 
          href="http://www.mozilla.com">Firefox</a>, <a 
          href="http://www.apple.com/safari">Safari</a>, and <a 
          href="http://www.konqueror.org">Konqueror</a>.</p>
      </canvas>
    </div>

    <div class="col-md-6">
      <img id="video" src="" alt="video streaming" class="img-responsive img-rounded" width="300" height="512" />
    </div>
  </div>

  <button type="button" class="btn btn-default" id="clearButton">Clear Canvas</button>
  <button type="button" class="btn btn-default" id="connectButton">Start Listenning</button>

  <select id="selectColor">
    <option id="colBlack" value="black" selected="selected">Black</option>
    <option id="colRed" value="red">Red</option>
    <option id="colBlue" value="blue">Blue</option>
    <option id="colGreen" value="green">Green</option>
    <option id="colOrange" value="orange">Orange</option>
    <option id="colYellow" value="yellow">Yellow</option>
  </select>

  <ul class="list-group" id="broadcast-msg">
    <li class="list-group-item">Box position</li>
    <li id="replaceable">Box position</li>
  </ul>


{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/socket.io.js' %}"></script>
<script src="{% static 'js/canvas.js' %}"></script>
{# <script src="{% static 'js/socket_connecting.js' %}"></script> #}
<script src="{% static 'js/socket_receiving.js' %}"></script>

{% endblock extra_js %}



