{% extends "base.html" %}

{% block page_title %}
<div class="page-header">
<h1>Detectors Gallery</h1>
</div>
{% endblock page_title %}


{% block content %}
  
  <div class="row-fluid">
    <ul class="thumbnails">
      {% for detector in detector_list %}
        <li class="span3">
          <div class="thumbnail">
            <a href="{% url 'detector_detail' detector.pk %}" class="thumbnail">
              <img src="{{ detector.average_image.url }}" alt="image" height="200" width="200"/>
            </a>
            <div class="caption">
              <h3>{{ detector.name }} - {{ detector.pk }}</h3>
              <p>By <a href="#">{{ detector.author.user }}</a></p>
              {% if detector.parent %}
                <p>Son of: <a href="{% url 'detector_detail' detector.parent.id %}"> {{ detector.parent.name }} </a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}



{% block extra_js %}
<script>
  $("#detectors").addClass("active")
</script>
{% endblock extra_js %}
