{% extends "base.html" %}

{% block page_title %}
<div class="page-header">
<h1>Detectors Gallery</h1>
</div>
{% endblock page_title %}


{% block content %}
  
  <div class="row">
  <form action="{% url 'detector_list' %}" method="get" class="form-search">
    <input id="search-box" class="span5" type="text" class="input-medium search-query" name="q">
  <button type="submit" class="btn">Search</button>
  </form>
  </div>
  
  <div class="row">
    <ul class="thumbnails">
      {% for detector in detector_list %}
        <li class="span3">
          <div class="thumbnail">
            <a href="{% url 'detector_detail' detector.pk %}" class="thumbnail">
              <img src="{{ detector.average_image.url }}" alt="image" height="200" width="200"/>
            </a>
            <div class="caption">
              <h3>{{ detector.name }} - {{ detector.pk }}</h3>
              <p>By <a href="{% url 'userena_profile_detail' detector.author.user.username %}">{{ detector.author.user }}</a></p>
              {% if detector.parent %}
                <p>Son of: <a href="{% url 'detector_detail' detector.parent.id %}"> {{ detector.parent.name }} </a>
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}



{% block extra_js %}
<script>
  $("#detectors").addClass("active")
</script>

<script>
var searchTerm = $("#search-box").val();

</script>

{% endblock extra_js %}
